html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

section {
    width: 100%;
    margin: 0;
}

.banner-section {
    height: auto;
    width: 100%;
}

.wrapper {
    width: 100%;
    background: -webkit-linear-gradient(110deg, #ffffff 50%, #4b98f1 50%);
}

.hero-image img {
    -webkit-box-shadow: 22px 21px 13px -25px rgba(0,0,0,1);
    -moz-box-shadow: 22px 21px 13px -25px rgba(0,0,0,1);
    box-shadow: 25px 25px 15px -25px rgba(0,0,0,1);
    height: auto;
    width: 90%;
    margin: 5% 5% 0 5%;
}

.hero-image > h1 {
    position: relative;
    top: -120px;
    left: 50px;
    width: 80%;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 40px;
}

.about-me {
    background-color: white;
    text-align: center;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.links > img {
    height: auto;
    width: 10%;
}

.screenshot {
    background-color: rgb(115, 115, 226);
    width: 100%;
    height: 300px;
}

.project {
    width: 90%;
    margin: 5%;
    text-align: center;
    -webkit-box-shadow: 0px 20px 99px -27px rgba(0,0,0,1);
    -moz-box-shadow: 0px 20px 99px -27px rgba(0,0,0,1);
    box-shadow: 0px 20px 99px -27px rgba(0,0,0,1);
}

.description {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.icons > img {
    width: 20px;
    height: auto;
}

.my-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.my-work > h2 {
    margin: 0;
}

.work-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 1rem 0;
}

.contact {
    width: 100%;
    color: white;
    background-color: #4b98f1;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact > img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.contact-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

@media only screen and (min-width: 768px) {
    .hero-image > img{
        height: auto;
        width: 50%;
        z-index: 1;
        margin: 0;
        float: left;
    }
    .wrapper {
        width: 90%;
        overflow: hidden;
        padding: 5%;
    }
    .hero-image > h1 {
        height: 1rem;
        position: relative;
        top: -5em;
        left: 8em;
        width: 45%;
        font-size: 50px;
        height: auto;
    }
    .about-me {
        margin-top: -20em;
        margin-left: 10em;
        width: 60%;
        height: 50%;
        line-height: 1.5rem;
        padding: 1rem;
        box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.219);
        z-index: 0;
        padding-left: 5rem;
        border: 0.5px solid rgba(128, 128, 128, 0.185);
    }
    .banner-section .links {
        display: none;
    }
    .work-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-evenly;
        gap: 0;

    }
    .project {
        width: 40%;     
    }
    .contact {
        display: flex;
        flex-direction: row;
        gap: 5rem;
        width: 100%;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: center;
    }
    .contact-wrapper {
        width: 40%;
        gap: 0;
    }
    .contact > img {
        width: 30%;
        height: auto;
    }
    .my-work {
        align-items: normal;
    }
    .my-work > h2{
        margin-left: 5%;
    }
}
@media only screen and (min-width: 1025px) {
    .work-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-evenly;
        gap: 0;
        width: 100%;

    }
    .project {
        width: 30%;   
        margin: 5% 0;  
    }
    .contact {
        display: flex;
        flex-direction: row;
        gap: 5rem;
        width: 100%;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: center;
    }
    .contact-wrapper {
        width: 40%;
        gap: 0;
    }
    .contact > img {
        width: 40%;
        height: auto;
        margin: 2rem 0;
    }
    .contact-wrapper > .links > img {
        width: 8%;
    }
    .my-work > h2{
        margin-left: 2.5%;
    }
    .banner-section .links {
        display: block;
        width: 60%;
        height: auto;
        float: right;
    }
    .hero-image {
        width: 50%;
    }
    .hero-image img {
        height: auto;
        width: 100%;
        margin: 0;
        z-index: 0;
    }
    .wrapper {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner-section {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .hero-image > h1 {
        font-size: 4rem;
        float: left;
        top: 0;
        left: 0;
        margin: -3em 0 0 0;
        width: 100%;
        text-align: center;
    }
    .about-me {
        margin:0;
        width: 40%;
        height: 65%;
        line-height: 2rem;
        box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.219);
        z-index: 0;
        padding: 0.5rem 0 0 0;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}